{% load staticfiles %}

<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
    <title>YouBook - {% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}"/>
    <link rel="icon" type="image/png" href="{% static "images/loginicon.png" %}" />
</head>

<body>
	<header class="row">
	{% block header %}
		<div class="logo">
			<a href="{% url 'index' %}">
				<img src="{% static "images/logo.png" %}" alt ="logo">
			</a>
		</div>
		<a href="{% url 'index' %}" class="nav_der">
			<h2 class ="title-nav">Inicio</h2>
			<img src="{% static "images/home.png" %}" alt = "home">
		</a>
		<a href="#carrito" class="nav_der">
			<h2 class ="title-nav">Carrito</h2>
			<img src="{% static "images/carrito.png" %}" alt ="carrito">
		</a>
	{% endblock header%}
	</header>
	{% block contenido %}

	{% endblock contenido %}
	<footer>
	{% block footer %}
		<div>
			<img src="{% static "images/instagram.png" %}" alt= "instagram">
			<img src="{% static "images/twitter.png" %}"    alt= "twitter">
			<img src="{% static "images/facebook.png" %}"  alt= "facebook">
		</div>
		<p>2017 © Todos los derechos reservados.Condiciones Generales de Uso - Política de confidencialidad - Condiciones Generales de Venta - Menciones Legales -</p>
		<img src="{% static "images/logo.png" %}" class="footer_logo" alt = "footer_logo">
	{% endblock footer %}
	</footer>
    {% block main %}{% endblock main %}
</body>
</html>