{% extends 'shop/base.html' %}

{% load staticfiles %}

{% block menu %} <!-- Side bar menu -->

<div class="dropdown_profile">
	<button class="dropbtn_profile"><h2 class ="title-nav">Categorias</h2>
	<img src="{% static "images/menu.png" %}" alt = "avatar">
	</button>
	<div class="dropdown-content_profile">
	    {% for cat in categories %}
		<a href="/shop/{{ cat.catSlug }}"> {{ cat.catName }}</a>
	    {% endfor %}
  	</div>
</div>

{% endblock menu %}

{% block contenido %}

<div class="peliculas">
		
	{% if category %}
	<h1 class="titulo">Categoria: {{ category.catName }}</h1>

	{% else %}
	<h1 class="titulo">Todas las Categorias</h1>
	{% endif %}
	{% for product in products %}
	<div class="pelicula">
		<a href="/shop/{{ product.id }}/{{ product.prodSlug }}">
			<img src= "{{ media_url }}{{ product.image }}" alt ="{{ product.prodSlug }}">
			<p>{{ product.prodName }}</p>
		</a>
	</div>
    {% endfor %}
<div>

{% endblock contenido %}